@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
   font-family: "Roboto", sans-serif;
   color: #3a3a3a;
   font-size: 16px;
   background-color: #ffffff;
   margin: 0;
   font-weight: 400;
}
